@import "tailwindcss";

:root {
  --font-size-large: 20px;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-size: var(--font-size-large);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
